@model List<GetAllStudentVM>
@{
    ViewData["Title"] = "getAll";
    Layout = "~/Views/Shared/Admin/_Layout.cshtml";
}
<div class="card m-2" style="width:60rem;margin:auto;">
    <div class="row">
        <div class="col-8">
        </div>
        <div class="col-4 text-end">
            <a class="btn btn-outline-dark p-1  m-2 pull-right" asp-action="InsertStudent" asp-controller="Student"> <i class="fa-sharp fa-solid fa-user-plus"></i> </a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="myTable" class="table table-row-dashed  table-row-gray-300" style="width:100%">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>User Name</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Address</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.StId</td>
                            <td>@item.UserName</td>
                            <td>@item.UserFname</td>
                            <td>@item.UserLname</td>
                            <td>@item.StAddress</td>
                           
                            <td class="dropdown">
                                <button class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-sharp fa-solid fa-bars"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" asp-action="getById" asp-controller="Student" asp-route-id="@item.StId">Select</a></li>
                                    <li><a class="dropdown-item" asp-action="Edit" asp-controller="Student" asp-route-id="@item.StId">Edit</a></li>
                                    <li><a class="dropdown-item" asp-action="DeleteInstructorByID" asp-controller="Student" asp-route-id="@item.StId">Delete</a></li>
                                </ul>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Js {
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
    <partial name="~/Views/Shared/Admin/_JSDataTable.cshtml" />

}